*{
	margin: 0;
	padding: 0;
}
body{
	margin:0;
	padding:0; 
	background:#f4f4f4;
	font-family: sans-serif, Arial,Helvetica;
}
.login-title{
	text-align: center;
	padding-top: 30px;

}
.login-title h1{
	padding:0;
	margin: 0;
	color:#262626;
	text-transform: uppercase;
	font-size: 38px;
	
}
.login-title h2{
	padding:0;
	margin: 0;
	color:#262626;
	text-transform: uppercase;
	font-size: 38px;
}
.container{
	width: 50%;
	height: 400px;
	background: #fff;
	margin:0 auto;
	border:1px solid #f4f4f4;
	box-shadow: 0 20px 30px rgba(0,0,0,0.5)
	background-size:contain;
	position: relative;
}
.container .leftbar{
	float:left;
	width:50%;
	min-height:400px;
	background:lightgray;
	background-size: cover;
}
.container .rightbar{
	float:right;
	width:50%;
	padding: 100px;
	min-height:400px;
	box-sizing: border-box;
	
}
.container .rightbar2{
	width:100%;
	min-height:400px;
	box-sizing: border-box;
}

.form1{
	width: 50%;
	box-sizing: border-box;
	min-height: 400px;
	background:#fff;
}
.form2{
	width: 100%;
	padding:50px 20px;
	box-sizing: border-box;
	min-height: 400px;
	background:#fff;
}
.form1 p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #a6af13;

}
.form2 p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #a6af13;

}
.form1 input{
	margin-bottom:20px;
	width:100%;
}
.form1 input[type="text"],[type="password"]{
	border: none;
	border-bottom: 2px solid #a6af13;
	outline: none;
	min-height: 30px;
	width: 100%;
}
.form1 input[type="submit"]{
	border: none;
	outline: none;
	background:#008CBA;
	height:30px;
	cursor: pointer;
	width: 100%;
	 border-radius: 4px;
}
.form1 a{
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.form2 input{
	margin-bottom:20px;
	width:100%;
}
.form2 input[type="text"],[type="password"]{
	border: none;
	border-bottom: 2px solid #a6af13;
	outline: none;
	min-height: 30px;
	width: 100%;
}
.form2 input[type="submit"]{
	border: none;
	outline: none;
	background:#008CBA;
	height:35px;
	cursor: pointer;
	width: 100%;
	 border-radius: 4px;
}
.form2 a{
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
nav{
	width:100%;
	background:darkgray;
	height: 50px;
	padding:0;
	margin: 0;
	border-bottom:1px solid gray;
}
nav h4{
	padding-left: 100px;
}

@media screen and (max-width: 600px) {
  .container .leftbar, .container .rightbar {
    width: 100%;
    margin-top: 0;
  }

}
ul li{ 
	display:inline-block;  
	padding: 10px;
}
ul a{
	text-decoration: none;
	color: white;

}
ul a:hover{
	text-decoration: none;
	color: red;

}
nav .navbar{

	margin-top:10px;
}
#srch input{
	width:400px;
	border-radius: 5px;
	height:30px;
	padding-left: 10px;
}
#btn input[type="submit"] {
	border-radius: 5px;
	height:30px;
	background:#008CBA;
	border: none;
	cursor: pointer;
	margin:0;
}
#hd{
	font-size: 30px;
	font-weight: bold;
	color: black;
}
footer{
	margin-top:20px;

}
footer h3{
	text-align: center;
	padding-top:30px;
	font-size: 30px;


}
#container .sidebar{
	float: left;
	width: 20%;
box-sizing: border-box;
background:lightyellow;


}
#container .mainbar{
	float: right;
	width: 40%;
	box-sizing: border-box;
	background:gray;
	padding: 50px;
}
#container .left-bar{
	float: right;
	width: 40%;
	box-sizing: border-box;
	background:silver;
	padding: 40px;

}
#container .left-bar h4{
	font-size: 16px;
	font-weight: bold;
	color: red;

}

#container .left-bar li{
list-style-type: none;
line-height: 30px;

}
#container .left-bar p{
list-style-type: none;
text-align: center;
}
#container{
	width: 80%;
	height:670px;
	background: #fff;
	margin:0 auto;
	border:1px solid #f4f4f4;
	box-shadow: 0 20px 30px rgba(0,0,0,0.5)
	background-size:contain;
	position: relative;
}
table #tb1{
width:100%;
}
table td{
padding-left:10px;
text-align: center;
}
#container .left-bar-index{
	float: right;
	width: 30%;
	box-sizing: border-box;
	border:1px solid gray;
	padding: 40px;

}
#container .mainbar-index{
	float: right;
	width: 50%;
	box-sizing: border-box;
	border:1px solid gray;
	padding: 50px;
}
#container .sidebar-index{
	float: left;
	width: 20%;
box-sizing: border-box;
border:1px solid gray;
}
#container .sidebar-index h2{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding-top: 10px;
	text-decoration: underline;

}
#container .sidebar-index li{
list-style-type: none;
line-height: 30px;
padding-left: 15px;
font-size: 16px;

}
#container .sidebar-index a{
text-decoration: none;
color: black;
}
#container .sidebar-index a:hover{
text-decoration: none;
color: red;
}
#container .left-bar-index li{
line-height: 30px;
padding-left: 15px;

}
#container .mainbar-index table td{
padding-left:5px;
text-align: center;
font-size: 12px;


}
table tr{border-bottom:1px solid gray;}
#container .mainbar-index table td a{
color: black;
text-decoration: none;
}
#container .mainbar-index table td a:hover{
color: red;
font-weight: bold;
text-decoration: none;
}
#container .mainbar-index-admin{
	float: right;
	width: 90%;
	box-sizing: border-box;
	border:1px solid gray;
	padding: 50px;
	height: 670px;
}
